$color1: #2834d6;
$color3: #ebe0ff;
$color4: #2834d691;
$color5: rgba(54,87,255,1);
$color6: rgba(120,0,238,1);
$colorStartPage: #5232f8;
$colorText: #444;
$colorPlaceholder: #757575;
$colorTextInput: #cccccc;
$colorInput: #f0f0f0;
$colorDisabledBtn: #562ef738;
$colorBtn: #7f77e6;
$btnHoverBoxshadow: rgba(255, 15, 227, 0.481);
$brightText: rgb(255, 15, 227);
$colorSidebar: #3a51fe;
