<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="container__forms">
                <div class="container__forms_signin-signup">
                    <form class="container__forms_signin-signup-form sign-in-form">
                        <h2 class="container__forms_signin-signup-form-title">Sign in</h2>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-user form' ></i>
                            <input type="email" placeholder="Email" id="emailSignIn" class="container__forms_signin-signup-form-inputField-input"/>
                            <p id="inputErrorEmail" class="inputError"></p>
                        </div>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-lock-alt form' ></i>
                            <input type="password" placeholder="Password" id="passwordSignIn" class="container__forms_signin-signup-form-inputField-input"/>
                            <i class='bx bx-show-alt bx-burst' ></i>
                            <p id="inputErrorPassword" class="inputError"></p>
                        </div>
                        <p class="forgotPassword">Forgot your password?</p>
                        <button type="submit" id="signIn" class="btn">Login</button>
                    </form>
                    <form class="container__forms_signin-signup-form sign-up-form">
                        <h2 class="container__forms_signin-signup-form-title">Sign up</h2>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-user form' ></i>
                            <input type="text" placeholder="Username" id="usernameSignUp" class="container__forms_signin-signup-form-inputField-input"/>
                            <p id="inputErrorName" class="inputError"></p>
                        </div>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-envelope form'></i>
                            <input type="email" placeholder="Email" id="emailSignUp" class="container__forms_signin-signup-form-inputField-input"/>
                            <p id="inputErrorEmailSignUp" class="inputError"></p>
                        </div>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-lock-alt form' ></i>
                            <input type="password" placeholder="Password" id="passwordSignUp_1" class="container__forms_signin-signup-form-inputField-input"/>
                            <i class='bx bx-show-alt bx-burst' ></i>
                            <p id="inputErrorPassword1" class="inputError"></p>
                        </div>
                        <div class="container__forms_signin-signup-form-inputField">
                            <i class='bx bxs-lock-alt form' ></i>
                            <input type="password" placeholder="Repeat password" id="passwordSignUp_2" class="container__forms_signin-signup-form-inputField-input"/>
                            <i class='bx bx-show-alt bx-burst' ></i>
                            <p id="inputErrorPassword2" class="inputError"></p>
                        </div>
                        <button type="submit" id="signUp" class="btn">Sign up</button>
                    </form>
                </div>
            </div>

            <div class="container__panels">
                <div class="container__panels-panel left-panel">
                    <div class="container__panels-panel-content">
                        <h3>Don't have an account?</h3>
                        <p>Create it!</p>
                        <button class="btn transparent" id="sign-up-btn">Sign up</button>
                    </div>
                    <img src="/src/img/signIn.svg" class="container__panels-panel-image"/>
                </div>
                <div class="container__panels-panel right-panel">
                    <div class="container__panels-panel-content">
                        <h3>Already have an account?</h3>
                        <p>Then let's <span>Do I.T.</span></p>
                        <button class="btn transparent" id="sign-in-btn">Sign in</button>
                    </div>
                    <img src="/src/img/signUp.svg" class="container__panels-panel-image" />
                </div>
            </div>
        </div>


        <div class="modalRecoverPassword" id="passwordRecoverModal">
            <div class="modalRecoverPassword_wrapper">
                <i class='bx bx-x closeModal'></i>
                <div class="modalRecoverPassword_wrapper_main">
                    <div class="modalRecoverPassword_wrapper_main_header">
                        <h2>Recover the password</h2>
                    </div>
                    <p class="modal-info">Enter your email address below and we will send you letter to your email</p>
                    <div class="modalRecoverPassword_wrapper_main_content">
                        <i class='bx bxs-user form' ></i>
                        <input type="email" class="modalRecoverPassword_wrapper_main_content-input">
                        <p id="inputErrorRecoverEmail" class="inputError"></p>
                    </div>
                    <div class="modalRecoverPassword_wrapper_main_footer">
                        <button class="modalRecoverPassword_wrapper_main_footer-btn">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    </body>
</html>