@import './temps/colors.scss';

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $color3;

    .header {
        background: $color1;
        width: 100%;
        height: 10%;
    }

    .content {
        display: flex;
        justify-content: space-between;
        height: 90%;
        width: 100%;

        &__sidebar {
            width: 30px;
            height: 100%;
            background: blue;
        }
    }
}
