@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;

        &:before {
            width: 1500px;
            height: 1500px;
            transform: translateX(-50%);
            left: 30%;
            bottom: 68%;
            right: initial;
            top: initial;
            transition: 2s ease-in-out;
        }

        &__forms {
            &_signin-signup {
                width: 100%;
                top: 95%;
                left: 50%;
                transform: translate(-50%, -100%);
                transition: 1s 0.8s ease-in-out;
            }
        }

        .container__panels {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;

            &-panel {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 30px 8%;
                grid-column: 1 / 2;

                &.right-panel {
                    grid-row: 3 / 4;

                    .container__panels-panel-image,
                    .container__panels-panel-content {
                        transform: translateY(300px);
                    }
                }

                &.left-panel {
                    grid-row: 1 / 2;
                }

                &-content {
                    padding-right: 15%;
                    transition: transform 0.9s ease-in-out;
                    transition-delay: 0.8s;

                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 12px;
                        padding: 10px 0;
                    }

                    .btn.transparent {
                        width: 110px;
                        height: 35px;
                        font-size: 15px;
                    }
                }

                &-image {
                    width: 200px;
                    transition: transform 0.9s ease-in-out;
                    transition-delay: 0.6s;
                }
            }
        }

        &.sign-up-mode {
            &:before {
                transform: translate(-50%, 100%);
                bottom: 32%;
                right: initial;
            }

            .container__forms {
                &_signin-signup {
                    left: 50%;
                    top: 5%;
                    transform: translate(-50%, 0);
                }
            }

            .container__panels {
                &-panel {
                    &.left-panel {
                        .container__panels-panel-image,
                        .container__panels-panel-content {
                            transform: translateY(-300px);
                        }
                    }

                    &.right-panel {
                        .container__panels-panel-image,
                        .container__panels-panel-content {
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .container {
        padding: 20px;

        &__forms {
            &_signin-signup {
                &-form {
                    padding: 0 15px;
                }
            }
        }

        .container__panels {
            &-panel {
                &-content {
                    padding: 5px 10px;
                }

                &-image {
                    display: none;
                }
            }
        }

        &:before {
            bottom: 72%;
            left: 50%;
        }

        &.sign-up-mode:before {
            bottom: 28%;
            left: 50%;
        }
    }
}
