@media (max-width: 1600px) {
    .content__todo {
        width: 50%;
        .calendar__wrapper {
            width: 150%;
        }
    }
}

@media (max-width: 1300px) {
    .content__todo {
        left: 120px;

        .calendar__wrapper {
            width: 130%;
        }
    }
}

@media (max-width: 1200px) {
    .content__todo {
        .calendar__wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 920px) {
    .content__todo {
        width: 30%;

        &_todosMain {
            .todoLi {
                .todo-important,
                .todoMenu,
                .todos-deleteImg,
                .todo-complited,
                .todoRecover {
                    font-size: 14px;
                }

                .todoSubtask {
                    left: 140px;
                }
            }
        }

        .calendar__wrapper {
            grid-template: 1fr 1fr / 1fr;

            &-content {
                width: 50%;
            }

            &-inputEvent {
                width: 300px;
            }
        }
    }

    .content__todoMenu {
        width: 200px;

        &.close {
            right: -220px;
        }

        &_comment-textarea, &_subtask, &_tags {
            width: 180px
        }

        &_tags {
            height: 130px;

            &-activeTags {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;

        &:before {
            width: 1500px;
            height: 1500px;
            transform: translateX(-50%);
            left: 30%;
            bottom: 68%;
            right: initial;
            top: initial;
            transition: 2s ease-in-out;
        }

        &__forms {
            &_signin-signup {
                width: 100%;
                top: 95%;
                left: 50%;
                transform: translate(-50%, -100%);
                transition: 1s 0.8s ease-in-out;
            }
        }

        .container__panels {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;

            &-panel {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 30px 8%;
                grid-column: 1 / 2;

                &.right-panel {
                    grid-row: 3 / 4;

                    .container__panels-panel-image,
                    .container__panels-panel-content {
                        transform: translateY(300px);
                    }
                }

                &.left-panel {
                    grid-row: 1 / 2;
                }

                &-content {
                    padding-right: 15%;
                    transition: transform 0.9s ease-in-out;
                    transition-delay: 0.8s;

                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 12px;
                        padding: 10px 0;
                    }

                    .btn.transparent {
                        width: 110px;
                        height: 35px;
                        font-size: 15px;
                    }
                }

                &-image {
                    width: 200px;
                    transition: transform 0.9s ease-in-out;
                    transition-delay: 0.6s;
                }
            }
        }

        &.sign-up-mode {
            &:before {
                transform: translate(-50%, 100%);
                bottom: 32%;
                right: initial;
            }

            .container__forms {
                &_signin-signup {
                    left: 50%;
                    top: 5%;
                    transform: translate(-50%, 0);
                }
            }

            .container__panels {
                &-panel {
                    &.left-panel {
                        .container__panels-panel-image,
                        .container__panels-panel-content {
                            transform: translateY(-300px);
                        }
                    }

                    &.right-panel {
                        .container__panels-panel-image,
                        .container__panels-panel-content {
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .main_startPage {
        &_header {
            &-text {
                font-size: 8em;
            }
        }

        &_content {
            &_todoText {
                &-title {
                    margin-bottom: 20px;
                    font-size: 35px;

                }

                &-text {
                    line-height: 25px;
                    font-size: 15px;
                }
            }
        }
    }

    .content__todoMenu {
        width: 150px;

        &.close {
            right: -170px;
        }

        &_comment-textarea, &_subtask, &_tags {
            width: 130px
        }
    }

    .modal.open {
        .modalWrapper {
            transform: translate(-13%, -25%);
        }
    }
}

@media (max-width: 600px) {
    .wrapper__content_sidebar.close {
        width: 40px;
        .wrapper__content_sidebar-logoDetails {
            i {
                min-width: 35px;
            }
        }

        .wrapper__content_sidebar-navLinks {
            &-link {
                &-a {
                    i {
                        min-width: 35px;
                    }
                }

                &:hover {
                    .wrapper__content_sidebar-navLinks-link-subMenu {
                        display: none;
                    }
                }
            }
        }
    }

    .content__todo {
        width: 20%;

        &_todosMain {
            .todoLi {
                grid-template: 1fr/10% 75% 5% 5% 5%;

                .todos-time {
                    display: none;
                }
            }
        }

        .calendar__wrapper {
            &-content {
                #calendar {
                    min-width: 300px;
                }
            }
        }
    }

    .modal {
        &.open {
            .modalWrapper {
                transform: translate(-20%, -25%);
            }
        }
        .modalWrapper {
            width: 330px;
            height: 330px;
        }
    }
}

@media (max-width: 570px) {
    .container__forms_signin-signup-form-inputField {
        max-width: 300px;
    }

    .content__todo {
        left: 50px;
    }

    .content__todo_form-addTodoBtn {
        visibility: hidden;
    }

    .todoLi {
        font-size: 10px;
    }

    .container {
        padding: 20px;

        &__forms {
            &_signin-signup {
                &-form {
                    padding: 0 15px;
                }
            }
        }

        .container__panels {
            &-panel {
                &-content {
                    padding: 5px 10px;
                }

                &-image {
                    display: none;
                }
            }
        }

        &:before {
            bottom: 72%;
            left: 50%;
        }

        &.sign-up-mode:before {
            bottom: 28%;
            left: 50%;
        }
    }
}

@media (max-width: 450px) {
    .modal {
        &.open {
            .modalWrapper {
                transform: translate(-2%, -40%);
            }
        }
    }
}

@media (max-width: 400px) {
    .main_startPage {
        &_header {
            &-text {
                font-size: 5em;
            }
        }
    }

    .wrapper__content_sidebar {
        &-navLinks {
            #nav-links_calendar {
                display: none;
            }
        }
    }
}

@media (max-width: 380px) {
    .content__todo {
        width: 19%;
        left: 45px;
    }
}
