@import './temps/colors.scss';

.wrapper__content_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: $colorSidebar;
    z-index: 100;
    transition: all 0.5s ease;

    &.close {
        width: 78px;

        & ~ .home-section {
            left: 78px;
            width: 100%;
        }

        .wrapper__content_sidebar-logoDetails {
            &-logoName {
                transition-delay: 0s;
                opacity: 0;
                pointer-events: none;
            }
        }

        .wrapper__content_sidebar-navLinks {
            overflow: visible;

            li#nav-links_inputList:hover {
                background: none;
            }

            &-link {
                &:hover {
                    i {
                        color: $colorSidebar;
                    }

                    .wrapper__content_sidebar-navLinks-link-subMenu {
                        top: 0;
                        opacity: 1;
                        background: $colorSidebar;
                        color: $colorInput;
                        pointer-events: auto;
                        transition: all 0.4s ease;

                        &-listName i {
                            color: $colorInput;

                            &:hover {
                                color: $colorBtn;
                            }
                        }
                    }
                }

                &.showMenu:hover {
                    background: $color3;
                }

                a {
                    .link_name, .counterTasks {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                .arrow {
                    display: none;
                }

                &-inputList {
                    display: none;
                }

                &-subMenu {
                    position: absolute;
                    left: 100%;
                    top: -10px;
                    margin-top: 0;
                    padding: 10px;
                    border-radius: 0 6px 6px 0;
                    transition: 0s;
                    opacity: 0;
                    display: block;
                    pointer-events: none;

                    .link_name {
                        display: block;
                        font-size: 18px;
                        opacity: 1;
                        background: $colorSidebar;
                        color: $colorInput;

                        &:hover {
                            color: $colorBtn;
                        }
                    }

                    &-listName {
                        textarea {
                            font-size: 13px;
                            width: 150px;
                            color: $colorInput;
                            cursor: pointer;

                            &:hover {
                                color: $colorBtn;
                            }
                        }

                        a {
                            i {
                                min-width: 30px;

                                &:hover {
                                    color: $colorBtn;
                                }
                            }

                        }

                        &:hover {
                            background: none;
                        }

                    }
                }

                &_profile {
                    background: none;
                    width: 78px;

                    &-photo {
                        width: 60px;
                        height: 60px;
                        -webkit-box-shadow: 0px 0px 10px 2px $color1;
                        box-shadow: 0px 0px 10px 2px $color1;
                    }

                    &-content {
                        display: none;
                    }

                    a {
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &-logoDetails {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        color: $colorInput;

        i {
            font-size: 30px;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        &-logoName {
            font-size: 22px;
            font-weight: bold;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }
    }

    &-navLinks {
        background: $color5;
        background: linear-gradient(240deg, $color5 0%, $color6 50%);
        height: 100vh;
        padding-top: 30px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        li:hover {
            background: $color3;

            i, a {
                color: $colorText;
            }
        }

        &-link {
            position: relative;
            cursor: pointer;

            &-lists {
                a {
                    cursor: default;
                }
            }

            li {
                list-style: none;
            }

            .arrow {
                cursor: pointer;
            }

            &.showMenu {
                &:hover {
                    background: none;
                }
                .wrapper__content_sidebar-navLinks-link {
                    background: $color3;

                    &-lists {
                        a, i {
                            color: $color3;
                        }
                    }

                    &-subMenu {
                        display: block;

                        &-listName {
                            &:hover {
                                textarea {
                                    color: $colorText;
                                }

                                a {
                                    i {
                                        color: $colorText;
                                        cursor: pointer;
                                    }
                                }
                            }

                            a {
                                i {
                                    color: $colorTextInput;
                                }
                            }
                        }
                    }
                }

                .arrow {
                    transform: rotate(-180deg);
                }
            }

            &-lists, &-inputList {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-inputList {
                &:hover {
                    input {
                        color: $colorText;

                        &::placeholder {
                            color: $colorText;
                        }
                    }

                    .createListBtn {
                        cursor: pointer;
                    }
                }

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 104px;
                    color: $colorInput;
                    font-size: 15px;

                    &::placeholder {
                        font-size: 15px;
                        color: $colorInput;
                    }
                }

                .createListBtn {
                    background: none;
                    border: none;
                    outline: none;
                    opacity: 0;
                }
            }

            i {
                display: block;
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: $colorInput;
                font-size: 20px;
                transition: all 0.3s ease;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $colorInput;

                &.wrapper__content_sidebar-navLinks-link-a {
                    justify-content: space-between;
                }
            }

            .link_name {
                width: 104px;
            }

            .counterTasks {
                width: 78px;
                text-align: center;
            }

            &-subMenu {
                margin-top: -10px;
                display: none;
                max-height: 300px;
                overflow-y: auto;

                &.blank {
                    opacity: 1;
                    pointer-events: auto;
                    opacity: 0;
                    pointer-events: none;
                }

                &-listName {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 33px;
                    list-style: none;
                    font-size: 12px;
                    transition: all 0.3s ease;
                    margin-top: 5px;

                    a {
                        i {
                            font-size: 12px;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                        }
                    }

                    textarea {
                        background: none;
                        outline: none;
                        border: none;
                        resize: none;
                        color: $colorTextInput;
                        cursor: pointer;
                        height: 100%;
                    }
                }


                .link_name {
                    display: none;
                }
            }

            &.profile:hover {
                background: none;

                .wrapper__content_sidebar-navLinks-link_profile {
                    a {
                        i {
                            color: $colorInput;
                        }
                    }
                }
            }

            &_profile {
                position: fixed;
                bottom: 0;
                width: 260px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $color4;
                padding: 6px 0;
                transition: all 0.5s ease;

                &-photo {
                    display: flex;
                    align-items: center;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 50px;
                    width: 50px;
                    border-radius: 16px;
                    margin: 10px;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }

                &-content {
                    color: $colorInput;
                    font-size: 18px;
                    font-weight: 500;
                    white-space: nowrap;

                    .profile-email {
                        font-size: 10px;
                        color: $brightText;
                        width: 100px;
                    }
                }

                #logOut {
                    cursor: pointer;

                    &:hover {
                        color: $colorText;
                    }
                }
            }
        }
    }
}
