@import './temps/colors.scss';

.wrapper__content_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: $color5;
    background: linear-gradient(240deg, $color5 0%, $color6 50%);
    z-index: 100;
    transition: all 0.5s ease;

    &-logoDetails {
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        color: $colorInput;

        i.logoDetails {
            height: 50px;
            min-width: 78px;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        &-logoName {
            font-size: 22px;
            font-weight: bold;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }
    }

    &-navLinks {
        height: 100vh;
        max-height: 700px;
        padding-top: 30px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &-link {
            position: relative;
            list-style: none;
            cursor: pointer;

            &:hover {
                background: $color3;

                i, span, .counterTasks {
                    color: $colorText;
                }
            }

            i {
                display: block;
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: $colorInput;
                font-size: 20px;
                transition: all 0.3s ease;
            }

            &#nav-links_groups {
                margin-bottom: 80px;
            }

            &-a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;
                color: $colorInput;

                &.inputList, &.groupCreate {
                    &:hover {
                        input {
                            color: $colorText;

                            &::placeholder {
                                color: $colorText;
                            }
                        }

                        .createListBtn {
                            cursor: pointer;
                        }
                    }

                    input {
                        background: none;
                        border: none;
                        outline: none;
                        width: 104px;
                        color: $colorInput;
                        font-size: 15px;

                        &::placeholder {
                            font-size: 15px;
                            color: $colorInput;
                        }
                    }

                    .createListBtn, .createGroupBtn {
                        background: none;
                        border: none;
                        outline: none;
                        opacity: 0;
                    }
                }

                .arrow {
                    cursor: pointer;
                }

                .link_name {
                    width: 104px;
                }

                .counterTasks {
                    width: 78px;
                    text-align: center;
                }
            }

            &-subMenu {
                margin-top: -10px;
                display: none;
                max-height: 150px;
                overflow-y: auto;

                &.groups {
                    margin-left: 78px;
                }

                &-listName, &-groupName {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    height: 33px;
                    list-style: none;
                    font-size: 12px;
                    transition: all 0.3s ease;
                    margin-top: 5px;

                    i {
                        font-size: 12px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                    }

                    textarea {
                        background: none;
                        outline: none;
                        border: none;
                        resize: none;
                        color: $colorTextInput;
                        cursor: pointer;
                        height: 100%;
                    }
                }

                &-groupName {
                    justify-content: flex-end;
                }
            }

            &.showMenu {
                &:hover {
                    background: none;

                    i, span {
                        color: $colorInput;
                    }
                }

                .wrapper__content_sidebar-navLinks-link-subMenu {
                    display: block;
                    li {
                        i:hover, textarea:hover {
                            color: $colorText;
                        }
                    }
                }

                .arrow {
                    transform: rotate(-180deg);
                }
            }

            &.profile {
                position: fixed;
                bottom: 0;

                &:hover {
                    background: none;

                    #logOut {
                        color: $colorInput;
                    }
                }

                .wrapper__content_sidebar-navLinks-link_profile {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 260px;
                    padding: 6px 0;
                    background: $color4;
                    transition: all 0.5s ease;

                    &-photo {
                        display: flex;
                        align-items: center;
                        height: 50px;
                        width: 50px;
                        margin: 10px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 16px;
                        transition: all 0.5s ease;
                        cursor: pointer;
                    }

                    &-content {
                        font-size: 18px;
                        font-weight: 500;
                        color: $colorInput;
                        white-space: nowrap;

                        .profile-email {
                            width: 100px;
                            font-size: 10px;
                            color: $brightText;
                        }
                    }

                    #logOut {
                        cursor: pointer;

                        &:hover {
                            color: $colorText;
                        }
                    }
                }
            }
        }
    }

    &.close {
        width: 78px; 

        .wrapper__content_sidebar-logoDetails {
            &-logoName {
                transition-delay: 0s;
                opacity: 0;
                pointer-events: none;
            }
        }

        .wrapper__content_sidebar-navLinks {
            &-link {

                &#nav-links_inputList,
                &#nav-links_groupCreate,
                &#nav-links_groups,
                &#nav-links_lists {
                    display: none;
                }

                &_profile {
                    background: none;
                    width: 78px;

                    &-photo {
                        width: 60px;
                        height: 60px;
                        -webkit-box-shadow: 0px 0px 10px 2px $color1;
                        box-shadow: 0px 0px 10px 2px $color1;
                    }

                    &-content, i {
                        display: none;
                    }
                }
            }
        }
    }
}
