@import './temps/colors.scss';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: $colorSidebar;
    z-index: 100;
    transition: all 0.5s ease;

    &.close {
        width: 78px;

        & ~ .home-section {
            left: 78px;
            width: 100%;
        }

        .logo-details {
            .logo_name {
                transition-delay: 0s;
                opacity: 0;
                pointer-events: none;
            }
        }

        .nav-links {
            overflow: visible;

            li {
                &:hover .sub-menu {
                    top: 0;
                    opacity: 1;
                    background: $colorSidebar;
                    color: $colorInput;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                }

                &:hover i {
                    color: $colorSidebar;
                }

                a {
                    .link_name {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                .sub-menu {
                    position: absolute;
                    left: 100%;
                    top: -10px;
                    margin-top: 0;
                    padding: 10px 20px;
                    border-radius: 0 6px 6px 0;
                    transition: 0s;
                    opacity: 0;
                    display: block;
                    pointer-events: none;

                    .link_name {
                        display: block;
                        font-size: 18px;
                        opacity: 1;
                        background: $colorSidebar;

                        &:hover {
                            color: $colorBtn;
                        }
                    }
                }

                .profile-details {
                    background: none;
                    width: 78px;

                    .profile-content {
                        width: 60px;
                        height: 60px;
                        -webkit-box-shadow: 0px 0px 10px 2px $color1;
                        box-shadow: 0px 0px 10px 2px $color1;
                    }

                    .name-job {
                        display: none;

                        .job {
                            font-size: 12px;
                        }
                    }

                    a {
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        color: $colorInput;

        i {
            font-size: 30px;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }

        .logo_name {
            font-size: 22px;
            font-weight: bold;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }
    }

    .nav-links  {
        background: $color5;
        background: linear-gradient(240deg, $color5 0%, $color6 50%);
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            position: relative;
            list-style: none;

            &:hover {
                background: $color3;

                i, a {
                    color: $colorText;
                }

                .sub-menu.blank {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }


            i {
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: $colorInput;
                font-size: 20px;
                transition: all 0.3s ease;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $colorInput;
            }

            .sub-menu {
                padding: 6px 6px 14px 80px;
                margin-top: -10px;
                display: none;

                &.blank {
                    opacity: 1;
                    pointer-events: auto;
                    opacity: 0;
                    pointer-events: none;
                }

                a {
                    color: $colorInput;
                    font-size: 15px;
                    padding: 5px 0;
                    white-space: nowrap;
                    opacity: 0.6;
                    transition: all 0.3s ease;

                    &:hover {
                        opacity: 1;
                    }
                }

                .link_name {
                    display: none;
                }
            }

            .profile-details {
                position: fixed;
                bottom: 0;
                width: 260px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $color4;
                padding: 6px 0;
                transition: all 0.5s ease;

                .profile-content {
                    display: flex;
                    align-items: center;
                    background: url('../img/R4EvyvGakKU.jpg') no-repeat center;
                    background-size: cover;
                    height: 50px;
                    width: 50px;
                    border-radius: 16px;
                    margin: 10px;
                    transition: all 0.5s ease;

                }

                .name-job {
                    color: $colorInput;
                    font-size: 18px;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
    }
}
