@import './temps/colors.scss';

.content__todo {
    width: 60%;
    position: relative;
    top: 100px;
    left: 300px;
    display: inline-block;

    &_title, .todayDate {
        color: $colorText;

    }

    &_form {
        display: flex;
        align-items: center;
        height: 50px;

        &-input {
            border: 0;
            background: $color3;
            width: 80%;
            height: 95%;
            outline: none;
        }

        &-addTodoBtn, &-todoAddPlus {
            padding: 0;
            border: 0;
            background: $color3;
            cursor: pointer;
        }

        &-addTodoBtn {
            width: 10%;
        }

        &-todoAddPlus {
            width: 10%;
        }
    }

    .dividing {
        background: $colorText;
    }

    #inputTodosError {
        position: absolute;
        top: 105px;
        left: 50px;
    }

    &_todosMain {
        margin: 0;
        padding-inline-start: 0;

        .todoLi {
            position: relative;
            display: grid;
            grid-template: 1fr/10% 60% 15% 5% 5% 5%;
            align-items: center;
            justify-items: center;
            width: 100%;
            height: 100px;
            border-bottom: 1px solid $colorText;
            font-size: 15px;

            .titleListTodo {
                position: absolute;
                top: 0;
                left: 80px;
                font-size: 11px;
                color: $colorText;
            }

            .todosValue {
                width: 95%;
                height: 55px;
                background: $color3;
                border: none;
                resize: none;
                outline: none;
                font-weight: 500;
                font-size: 15px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .todo-important,
            .todoMenu,
            .todos-deleteImg,
            .todo-complited,
            .todoRecover {
                cursor: pointer;
                font-size: 22px;
            }
        }
    }
}
