@import './temps/colors.scss';

.content__todoMenu {
    display: grid;
    grid-template: 40px 3fr 1fr 1fr 1fr / 1fr;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 260px;
    background: $color5;
    background: linear-gradient(60deg, $color5 0%, $color6 50%);
    padding: 10px;
    transition: right 1.5s ease-in-out;

    &.close {
        right: -280px;
        transition: right 1.5s ease-in-out;
    }

    &_closeBtn {
        cursor: pointer;
        overflow-x: auto;
    }

    &_subtask {
        background: $color3;
        background: linear-gradient(to bottom, $color3, transparent);
        border-radius: 10px;
        padding: 10px;
        max-height: 370px;
        width: 240px;

        &_title {
            overflow-x: auto;
        }

        &-form {
            border-bottom: 1px solid;
            width: 100%;

            &-input {
                border: none;
                outline: none;
                background: none;
                width: 90%;
            }

            .subtaskInputBtn {
                background: none;
                border: none;
                outline: none;
                position: absolute;
                cursor: pointer;
                font-size: 20px;
            }
        }

        &-list {
            list-style: none;
            padding: 10px 0;
            max-height: 300px;
            max-width: 100%;
            overflow-y: auto;

            &-li {
                display: flex;
                justify-content: space-between;

                i {
                    font-weight: 500px;
                    cursor: pointer;
                }

                &-value {
                    background: none;
                    border: none;
                    resize: none;
                    outline: none;
                    font-weight: 500;
                    width: 80%;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }

    &_tags {
        background: $color3;
        background: linear-gradient(to bottom, $color3, transparent);
        border-radius: 10px;
        padding: 10px;
        width: 240px;
        margin-bottom: 20px;

        &-activeTags {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;

            div {
                width: 95px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border: 1px solid;
                text-align: center;
                cursor: default;

                i.bx-x {
                    cursor: pointer;
                }

                i.bxs-circle {
                    font-size: 12px;
                }

                &#activeTags_urgent {
                    color: brown;
                }
                
                &#activeTags_main {
                    color: blue;
                }
            }
        }

        &-title {
            border-bottom: 1px solid black;
            font-weight: 700;
            cursor: pointer;
        }

        &-tagsName {
            position: relative;
            visibility: hidden;
            opacity: 0;
            transform: translate(15%, 20px);
            transition: .3s;

            &.close {
                visibility: visible;
                opacity: 1;
                transform: translate(15%, 0);
            }

            &-main {
                position: absolute;
                z-index: 1;
                
                p {
                    width: 110px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    &#tagName_urgent {
                        color: brown;
                    }
                    
                    &#tagName_main {
                        color: blue;
                    }

                    &:hover {
                        text-shadow: 2px 1px 3px black;
                    }
                }
            }
        }
    }

    &_comment {
        width: 100%;
        position: relative;

        &-textarea {
            width: 240px;
            height: 100px;
            resize: none;
            outline: none;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            background: $color3;
            background: linear-gradient(to bottom, $color3, transparent);
            padding: 5px 10px;

        }

        &-date {
            position: absolute;
            top: 110px;
            right: 15px;
            color: #93918f;
            font-size: 12px;
            font-weight: 600;
        }
    }
}
