@import './temps/colors.scss';

.content__todo {
    width: 60%;
    position: relative;
    top: 100px;
    left: 300px;
    display: inline-block;

    &_title, .todayDate {
        color: $colorText;

    }

    &_form {
        display: flex;
        align-items: center;
        height: 50px;

        &-input {
            border: 0;
            background: $color3;
            width: 80%;
            height: 95%;
            outline: none;
        }

        &-addTodoBtn, &-todoAddPlus {
            padding: 0;
            border: 0;
            background: $color3;
            cursor: pointer;
        }

        &-addTodoBtn {
            width: 10%;
        }

        &-todoAddPlus {
            width: 10%;
        }
    }

    .dividing {
        background: $colorText;
    }

    #inputTodosError {
        position: absolute;
        top: 105px;
        left: 50px;
    }

    &_todosMain {
        margin: 0;
        padding-inline-start: 0;

        .todoLi {
            position: relative;
            width: 100%;
            height: 100px;
            display: grid;
            grid-template: 1fr/10% 60% 20% 5% 5%;
            align-items: center;
            border-bottom: 1px solid $colorText;
            font-size: 15px;

            .todosValue {
                width: 95%;
                height: 55px;
                background: $color3;
                border: none;
                resize: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .todos-time {
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 22px;
                    cursor: pointer;
                }
            }

            .todo-complited, .todos-deleteImg, .todo-important {
                text-align: center;
                cursor: pointer;
            }

            .todo-important {
                font-size: 25px;
            }

            .todos-deleteImg {
                height: 20px;
                width: 20px;
                background: url(../img/deleteTodo.png) no-repeat;
                background-size: contain;
                cursor: pointer;
            }
        }
    }
}
