.components__wrapper {
    .outOfSignUp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100px;

        .bxs-left-arrow-square {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            font-weight: bold;
            font-size: 18px;

            a {
                text-decoration: none;
                color: rgb(75, 74, 74);
            }
        }
    }

    &_signUp {
        width: 300px;
        height: 320px;
        background: #abfddf;
        padding: 20px;
        border-radius: 3px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.6);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.6);

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            height: 100%;

            h1 {
                margin: 0px;
            }

            .inputContainer {
                width: 100%;
                position: relative;
                z-index: 1;

                .dividing {
                    width: 100%;
                    height: 1px;
                    background: black;
                }

                input {
                    width: 100%;
                    border: 0;
                    background-color: #abfddf;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 17px;

                    &:focus-visible {
                        outline: none;
                    }
                }

                .inputError {
                    position: absolute;
                    top: 20px;
                    z-index: 25;
                }
            }

            .signUpBtn {
                width: 50%;
                background: #41b0cf;
                height: 35px;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: bold;
            }
        }
    }

}

