<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="main_startPage">
            <div class="main_startPage_header">
                <img src="/src/img/bg.jpg" id="bg">
                <img src="/src/img/moon.png" id="moon">
                <img src="/src/img/mountain.png" id="montain">
                <img src="/src/img/road.png" id="road">
                <h2 class="main_startPage_header-text">Do I.T.</h2>
            </div>
            <div class="main_startPage_content">
                <button class="btn transparent startPageBtn">Do I.T.</button>
            </div>
        </div>
    </body>
</html>
