<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="main_startPage">
            <div class="main_startPage_header">
                <img src="/src/img/fon.jpg" id="bg">
                <img src="/src/img/car.png" id="typewriter">
                <img src="/src/img/openBook.png" id="openBook">
                <img src="/src/img/book.png" id="book">
                <img src="/src/img/gum.png" id="eraser">
                <img src="/src/img/glas2.png" id="glasses">
                <img src="/src/img/coffie.png" id="coffie">
                <img src="/src/img/doska.png" id="bottomImg">
                <h2 class="main_startPage_header-text">Do I.T.</h2>
            </div>
            <div class="main_startPage_content">
                <div class="main_startPage_content_todoText">
                    <h1 class="main_startPage_content_todoText-title">Create IT. Write IT. Do IT.</h1>
                    <h3 class="main_startPage_content_todoText-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi, ipsa aspernatur quos reiciendis quod repellat magnam veniam ab ea fugiat cumque tempora consequatur ducimus eaque. Natus sequi itaque numquam!
                        Officiis ipsum fugiat repellendus quis ab rem doloremque non asperiores veritatis perferendis, excepturi molestiae nesciunt. Eveniet veritatis tenetur itaque neque labore suscipit amet quibusdam qui! Nesciunt aperiam fugit molestiae odit.
                        Necessitatibus facilis rem nulla, iusto labore laboriosam, rerum provident autem molestias ex quos vero facere voluptate quam voluptates reiciendis? Veritatis delectus distinctio laboriosam nobis sint minus commodi explicabo, ipsa quaerat.
                        Neque est doloribus tempore at blanditiis dolor laudantium praesentium vitae corporis libero cupiditate non eum culpa et expedita autem, repellat, veniam iusto? Natus, obcaecati ad! Veritatis quidem in odit possimus!
                        Nam sequi magni, excepturi quaerat recusandae ullam reiciendis doloremque nesciunt sed perspiciatis neque cumque sit temporibus eveniet deleniti autem dolores et minima non expedita dicta, ut repudiandae. Optio, iste modi.
                        Blanditiis illo consectetur mollitia nisi voluptates! Voluptates facere recusandae dolores rem quae excepturi laboriosam, debitis labore maxime, unde quia, quod voluptatibus nostrum officiis a harum. Nisi consequatur aliquam at deserunt!
                        Assumenda exercitationem vel veritatis iste officiis? Saepe illo consequuntur ad delectus architecto dolore labore numquam qui tenetur totam, repellendus suscipit veritatis ipsam at magnam, reiciendis officiis. Quae tenetur eius illum.
                        Quasi harum esse velit similique ipsa tempore quaerat laborum excepturi, dignissimos fuga fugit in numquam nobis nesciunt molestias culpa, accusamus maxime non? Earum velit minus sequi ipsum laborum consequatur ipsam!
                        Quibusdam quo id necessitatibus voluptas porro voluptatem maxime ullam sequi! Quas soluta, sunt ipsa at, sint aperiam consequatur, laboriosam voluptates nisi ea non quisquam aspernatur excepturi incidunt minima tenetur eaque.
                        Ab, incidunt quisquam accusantium unde iste rem dicta! Quod, aspernatur nulla possimus perferendis cumque cum asperiores aut, velit sequi, maiores saepe doloribus amet libero minus et quas ratione nihil dignissimos.
                    </h3>
                    <button class="btn transparent startPageBtn"> Do I.T.</button>
                </div>
            </div>
        </div>
    </body>
</html>
