<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="components__wrapper">
            <div class="components__wrapper_tagline">
                <p class="tagline1">Create It</p>
                <p class="tagline2">Write It</p>
                <p class="tagline3">Do IT</p>
            </div>
            <div class="components__wrapper_auth">
                <form class="components__wrapper_auth-form">
                    <h1 class="components__wrapper_auth-title">Sign In</h1>
                    <div class="inputContainer">
                        <input type='email' class="inputEmail_input" placeholder="input your email...">
                        <div class="dividing"></div>
                        <p id="inputErrorEmail" class="inputError"></p>
                    </div>
                    <div class="inputContainer">
                        <input type="password" class="inputPassword_input" placeholder="input your password...">
                        <div class="dividing"></div>
                        <p id="inputErrorPassword" class="inputError"></p>
                    </div>
                    <div class="signUp-text">
                        <p>Don't have an account? <a href="sign-up.html" class="signUp_link"> Create it!</a></p>
                    </div>
                    <div class="submitBtn">
                        <button class='auth-form-Btn'type="submit">To come in</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
